/* style.css */
 
body {
    font-family: 'Oswald', sans-serif;
    background-image: url('../../assets/images/blue-fantasy-lights.jpg');
    background-position: center -300px;
    background-size: cover;
}

h1, h2, h3, h4, h5 {
    font-family: 'Luckiest Guy', cursive;
}

header {
    padding: 40px;
    color: white;
    text-align: center;
}
